
@media (min-width:620px) {
	.h1-serif {
		font-size: 70px
	}
}
@media (min-width:1020px) {
	.h1-serif {
		font-size: 80px
	}
}
.h2-serif {
	  font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 100;
	text-align: center
}
@media (min-width:620px) {
	.h2-serif {
		font-size: 50px;
		font-weight: 300
	}
}
.h3-serif {
	  font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 100;
	text-align: center
}
@media (min-width:620px) {
	.h3-serif {
		font-size: 36px
	}
}
.h1-sans {
	font-size: 60px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300
}
@media (min-width:620px) {
	.h1-sans {
		font-size: 90px
	}
}
.h2-sans {
	letter-spacing: -2px;
	font-size: 32px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300
}
@media (min-width:620px) {
	.h2-sans {
		font-size: 56px
	}
}
.h3-sans {
	font-size: 28px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.333
}
@media (min-width:620px) {
	.h3-sans {
		font-size: 42px
	}
}
.h4-sans {
	font-size: 18px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300
}
.h5-sans {
	font-size: 16px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300
}
.h1-bold {
	font-size: 45px;
	font-family: 'FuturaBT-Heavy' sans-serif;
	font-weight: 100;
	line-height: 1.1;
	color: #272c2f
}
@media (min-width:620px) {
	.h1-bold {
		letter-spacing: -4px;
		font-size: 52px
	}
}
@media (min-width:1020px) {
	.h1-bold {
		font-size: 76px
	}
}
@media (min-width:1440px) {
	.h1-bold {
		font-size: 90px;
		line-height: 100px;
		letter-spacing: -4px
	}
}
.h2-bold {
	color: #272c2f;
	letter-spacing: -2px;
	font-size: 32px;
	font-family: 'FuturaBT-Heavy' sans-serif;
	font-weight: 100
}
@media (min-width:1020px) {
	.h2-bold {
		font-size: 42px
	}
}
.h3-bold {
	color: #272c2f;
	letter-spacing: -.03em;
	font-size: 24px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100
}
@media (min-width:1020px) {
	.h3-bold {
		font-size: 38px
	}
}
.h4-bold {
	color: #272c2f;
	font-size: 18px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100
}
@media (min-width:1020px) {
	.h4-bold {
		font-size: 24px
	}
}
.h5-bold {
	color: #272c2f;
	font-size: 16px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100
}
@media (min-width:1020px) {
	.h5-bold {
		font-size: 18px
	}
}
.h6-bold {
	color: #272c2f;
	font-size: 14px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase
}
.h2-bold-large {
	color: #272c2f;
	letter-spacing: -2px;
	font-size: 48px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100
}
@media (min-width:1020px) {
	.h2-bold-large {
		font-size: 62px
	}
}
.font-bold {
	  font-family: 'Roboto', sans-serif;
	font-weight: 100
}
.p1 {
	font-size: 18px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.4
}
@media (min-width:620px) {
	.p1 {
		font-size: 22px
	}
}
.p2 {
	font-size: 18px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: #272c2f
}
.fine-print {
	font-size: 13px;
	line-height: 1.77
}
.standard-text {
	font-size: 16px;
	color: #7e8082;
	line-height: 1.5
}
@media (min-width:620px) {
	.standard-text {
		font-size: 18px
	}
}
@media (min-width:1020px) {
	.standard-text {
		font-size: 24px;
		line-height: 32px
	}
}
.large-text {
	color: #54575a;
	line-height: 28px;
	font-size: 18px
}
@media (min-width:620px) {
	.large-text {
		line-height: 36px;
		font-size: 24px
	}
}
.tiny {
	font-size: 14px
}
.list-bulleted {
	margin: 18px 0
}
.list-bulleted li {
	line-height: 42px;
	list-style: disc inside
}
* {
	box-sizing: border-box
}
html, body {
	margin: 0;
	padding: 0;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased
}
@media (max-width:619px) {
	body {
		padding-top: 72px
	}
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0
}
img {
	max-width: 100%
}
.black {
	background: #181818
}
body, input {
	font-size: 20px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 300
}
strong {
	font-size: inherit;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100
}
.telephone-number {
	color: inherit;
	text-decoration: none
}
.standard-link {
	color: #ffb21a;
	text-decoration: none
}
.standard-link:hover {
	text-decoration: underline
}
/*.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
} */
@media (min-width:620px) {
	.row-md {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}
@media (min-width:1020px) {
	.row-lg {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}
.row .col-1 {
	width: 8.33333%
}
.row .offset-1 {
	margin-left: 8.33333%
}
.row .pull-1 {
	margin-left: -8.33333%
}
@media (min-width:620px) {
	.row-md .col-1, .col-md-1 {
		width: 8.33333%
	}
	.row-md .offset-1, .offset-md-1 {
		margin-left: 8.33333%
	}
	.row-md .pull-1, .pull-md-1 {
		margin-left: -8.33333%
	}
}
@media (min-width:1020px) {
	.row-lg .col-1, .row-lg .col-lg-1 {
		width: 8.33333%
	}
	.row-lg .offset-1, .row-lg .offset-lg-1 {
		margin-left: 8.33333%
	}
	.row-lg .pull-1, .pull-lg-1 {
		margin-left: -8.33333%
	}
}
.row .col-2 {
	width: 16.66667%
}
.row .offset-2 {
	margin-left: 16.66667%
}
.row .pull-2 {
	margin-left: -16.66667%
}
@media (min-width:620px) {
	.row-md .col-2, .col-md-2 {
		width: 16.66667%
	}
	.row-md .offset-2, .offset-md-2 {
		margin-left: 16.66667%
	}
	.row-md .pull-2, .pull-md-2 {
		margin-left: -16.66667%
	}
}
@media (min-width:1020px) {
	.row-lg .col-2, .row-lg .col-lg-2 {
		width: 16.66667%
	}
	.row-lg .offset-2, .row-lg .offset-lg-2 {
		margin-left: 16.66667%
	}
	.row-lg .pull-2, .pull-lg-2 {
		margin-left: -16.66667%
	}
}
.row .col-3 {
	width: 25%
}
.row .offset-3 {
	margin-left: 25%
}
.row .pull-3 {
	margin-left: -25%
}
@media (min-width:620px) {
	.row-md .col-3, .col-md-3 {
		width: 25%
	}
	.row-md .offset-3, .offset-md-3 {
		margin-left: 25%
	}
	.row-md .pull-3, .pull-md-3 {
		margin-left: -25%
	}
}
@media (min-width:1020px) {
	.row-lg .col-3, .row-lg .col-lg-3 {
		width: 25%
	}
	.row-lg .offset-3, .row-lg .offset-lg-3 {
		margin-left: 25%
	}
	.row-lg .pull-3, .pull-lg-3 {
		margin-left: -25%
	}
}
.row .col-4 {
	width: 33.33333%
}
.row .offset-4 {
	margin-left: 33.33333%
}
.row .pull-4 {
	margin-left: -33.33333%
}
@media (min-width:620px) {
	.row-md .col-4, .col-md-4 {
		width: 33.33333%
	}
	.row-md .offset-4, .offset-md-4 {
		margin-left: 33.33333%
	}
	.row-md .pull-4, .pull-md-4 {
		margin-left: -33.33333%
	}
}
@media (min-width:1020px) {
	.row-lg .col-4, .row-lg .col-lg-4 {
		width: 33.33333%
	}
	.row-lg .offset-4, .row-lg .offset-lg-4 {
		margin-left: 33.33333%
	}
	.row-lg .pull-4, .pull-lg-4 {
		margin-left: -33.33333%
	}
}
.row .col-5 {
	width: 41.66667%
}
.row .offset-5 {
	margin-left: 41.66667%
}
.row .pull-5 {
	margin-left: -41.66667%
}
@media (min-width:620px) {
	.row-md .col-5, .col-md-5 {
		width: 41.66667%
	}
	.row-md .offset-5, .offset-md-5 {
		margin-left: 41.66667%
	}
	.row-md .pull-5, .pull-md-5 {
		margin-left: -41.66667%
	}
}
@media (min-width:1020px) {
	.row-lg .col-5, .row-lg .col-lg-5 {
		width: 41.66667%
	}
	.row-lg .offset-5, .row-lg .offset-lg-5 {
		margin-left: 41.66667%
	}
	.row-lg .pull-5, .pull-lg-5 {
		margin-left: -41.66667%
	}
}
.row .col-6 {
	width: 50%
}
.row .offset-6 {
	margin-left: 50%
}
.row .pull-6 {
	margin-left: -50%
}
@media (min-width:620px) {
	.row-md .col-6, .col-md-6 {
		width: 50%
	}
	.row-md .offset-6, .offset-md-6 {
		margin-left: 50%
	}
	.row-md .pull-6, .pull-md-6 {
		margin-left: -50%
	}
}
@media (min-width:1020px) {
	.row-lg .col-6, .row-lg .col-lg-6 {
		width: 50%
	}
	.row-lg .offset-6, .row-lg .offset-lg-6 {
		margin-left: 50%
	}
	.row-lg .pull-6, .pull-lg-6 {
		margin-left: -50%
	}
}
.row .col-7 {
	width: 58.33333%
}
.row .offset-7 {
	margin-left: 58.33333%
}
.row .pull-7 {
	margin-left: -58.33333%
}
@media (min-width:620px) {
	.row-md .col-7, .col-md-7 {
		width: 58.33333%
	}
	.row-md .offset-7, .offset-md-7 {
		margin-left: 58.33333%
	}
	.row-md .pull-7, .pull-md-7 {
		margin-left: -58.33333%
	}
}
@media (min-width:1020px) {
	.row-lg .col-7, .row-lg .col-lg-7 {
		width: 58.33333%
	}
	.row-lg .offset-7, .row-lg .offset-lg-7 {
		margin-left: 58.33333%
	}
	.row-lg .pull-7, .pull-lg-7 {
		margin-left: -58.33333%
	}
}
.row .col-8 {
	width: 66.66667%
}
.row .offset-8 {
	margin-left: 66.66667%
}
.row .pull-8 {
	margin-left: -66.66667%
}
@media (min-width:620px) {
	.row-md .col-8, .col-md-8 {
		width: 66.66667%
	}
	.row-md .offset-8, .offset-md-8 {
		margin-left: 66.66667%
	}
	.row-md .pull-8, .pull-md-8 {
		margin-left: -66.66667%
	}
}
@media (min-width:1020px) {
	.row-lg .col-8, .row-lg .col-lg-8 {
		width: 66.66667%
	}
	.row-lg .offset-8, .row-lg .offset-lg-8 {
		margin-left: 66.66667%
	}
	.row-lg .pull-8, .pull-lg-8 {
		margin-left: -66.66667%
	}
}
.row .col-9 {
	width: 75%
}
.row .offset-9 {
	margin-left: 75%
}
.row .pull-9 {
	margin-left: -75%
}
@media (min-width:620px) {
	.row-md .col-9, .col-md-9 {
		width: 75%
	}
	.row-md .offset-9, .offset-md-9 {
		margin-left: 75%
	}
	.row-md .pull-9, .pull-md-9 {
		margin-left: -75%
	}
}
@media (min-width:1020px) {
	.row-lg .col-9, .row-lg .col-lg-9 {
		width: 75%
	}
	.row-lg .offset-9, .row-lg .offset-lg-9 {
		margin-left: 75%
	}
	.row-lg .pull-9, .pull-lg-9 {
		margin-left: -75%
	}
}
.row .col-10 {
	width: 83.33333%
}
.row .offset-10 {
	margin-left: 83.33333%
}
.row .pull-10 {
	margin-left: -83.33333%
}
@media (min-width:620px) {
	.row-md .col-10, .col-md-10 {
		width: 83.33333%
	}
	.row-md .offset-10, .offset-md-10 {
		margin-left: 83.33333%
	}
	.row-md .pull-10, .pull-md-10 {
		margin-left: -83.33333%
	}
}
@media (min-width:1020px) {
	.row-lg .col-10, .row-lg .col-lg-10 {
		width: 83.33333%
	}
	.row-lg .offset-10, .row-lg .offset-lg-10 {
		margin-left: 83.33333%
	}
	.row-lg .pull-10, .pull-lg-10 {
		margin-left: -83.33333%
	}
}
.row .col-11 {
	width: 91.66667%
}
.row .offset-11 {
	margin-left: 91.66667%
}
.row .pull-11 {
	margin-left: -91.66667%
}
@media (min-width:620px) {
	.row-md .col-11, .col-md-11 {
		width: 91.66667%
	}
	.row-md .offset-11, .offset-md-11 {
		margin-left: 91.66667%
	}
	.row-md .pull-11, .pull-md-11 {
		margin-left: -91.66667%
	}
}
@media (min-width:1020px) {
	.row-lg .col-11, .row-lg .col-lg-11 {
		width: 91.66667%
	}
	.row-lg .offset-11, .row-lg .offset-lg-11 {
		margin-left: 91.66667%
	}
	.row-lg .pull-11, .pull-lg-11 {
		margin-left: -91.66667%
	}
}
.row .col-12 {
	width: 100%
}
.row .offset-12 {
	margin-left: 100%
}
.row .pull-12 {
	margin-left: -100%
}
@media (min-width:620px) {
	.row-md .col-12, .col-md-12 {
		width: 100%
	}
	.row-md .offset-12, .offset-md-12 {
		margin-left: 100%
	}
	.row-md .pull-12, .pull-md-12 {
		margin-left: -100%
	}
}
@media (min-width:1020px) {
	.row-lg .col-12, .row-lg .col-lg-12 {
		width: 100%
	}
	.row-lg .offset-12, .row-lg .offset-lg-12 {
		margin-left: 100%
	}
	.row-lg .pull-12, .pull-lg-12 {
		margin-left: -100%
	}
}
.row-align-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.row-align-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.row-space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.row-vertical-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media (min-width:620px) {
	.header1 {
		position: static;
		padding: 30px 0;
		top: 0;
		left: 0;
		z-index: 10
	}
}
.black .header1 {
	background: #181818
}
.black .header1 .header1-nav-link {
	color: #ffffff
}
.black .header1 .header1-nav-link:hover {
	color: rgba(255, 255, 255, 0.5)
}
.header1-sticky {
	-webkit-transform: translate(0, 72px);
	transform: translate(0, 72px)
}
@media (min-width:620px) {
	.header1-sticky {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
}
.header1-logo {
	-webkit-box-flex: 10;
	-ms-flex-positive: 10;
	flex-grow: 10
}
.header1-logo-image, .header1-logo-image-inverted {
	width: 136px;
	display: block
}
@media (max-width:619px) {
	.header1-logo-image, .header1-logo-image-inverted {
		display: none
	}
}
@media (min-width:620px) {
	.header1-logo-image, .header1-logo-image-inverted {
		width: 166px
	}
}
@media (min-width:1020px) {
	.header1-logo-image, .header1-logo-image-inverted {
		width: 200px
	}
}
.header1-logo-image-small, .header1-logo-image-small-inverted {
	height: 40px;
	display: block
}
@media (min-width:620px) {
	.header1-logo-image-small, .header1-logo-image-small-inverted {
		display: none
	}
}
@media (min-width:1020px) {
	.header1-logo-image-small, .header1-logo-image-small-inverted {
		display: none
	}
}
.header1-logo-image-inverted, .header1-logo-image-small-inverted {
	display: none
}
.black .header1-logo-image, .black .header1-logo-image-small {
	display: none
}
.black .header1-logo-image-inverted {
	display: block
}
@media (max-width:619px) {
	.black .header1-logo-image-inverted {
		display: none
	}
}
.black .header1-logo-image-small-inverted {
	display: block
}
@media (min-width:620px) {
	.black .header1-logo-image-small-inverted {
		display: none
	}
}
@media (min-width:1020px) {
	.black .header1-logo-image-small-inverted {
		display: none
	}
}
.header1-nav-link {
	margin-left: 20px;
	font-size: 16px;
	text-decoration: none;
	color: rgba(18, 18, 18, 0.5)
}
.header1-nav-link.active, .header1-nav-link:hover {
	color: #121212
}
@media (min-width:1020px) {
	.header1-nav-link {
		font-size: 18px
	}
}
.header1-nav-link.button:hover {
	color: #ffffff
}
.index .header1-nav-link.button {
	background-color: transparent;
	color: rgba(18, 18, 18, 0.5);
	padding: 0;
	margin-left: 20px
}
.index .header1-nav-link.button:hover {
	color: #121212
}
@media (max-width:619px) {
	.details .header1-logo {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		z-index: 10
	}
}
.details .sub-nav-select {
	display: none
}
.details .hamburger-icon {
	position: absolute;
	right: 25px
}
.sub-nav-select {
	display: none
}
.sticky-details-nav {
	display: none;
	position: relative;
	top: -100px;
	-webkit-transition: box-shadow 200ms linear;
	transition: box-shadow 200ms linear
}
@media (min-width:620px) {
	.sticky-details-nav {
		display: block
	}
}
.sticky-details {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.sticky-details-logo {
	width: 129px;
	display: block
}
.sticky-details-logo img {
	/* width: 50px; */
	/* max-width: none */
}
.sticky-details-logo, .sticky-details-button {
	-webkit-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
	opacity: 0
}
.sticky-details-item {
	padding-left: 14px;
	margin-right: 10px;
	white-space: nowrap;
	position: relative
}
@media (min-width:1180px) {
	.sticky-details-item {
		padding-left: 24px;
		margin-right: 20px
	}
}
.sticky-details-item:before {
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
	background: #ffffff;
	margin-top: -2px;
	width: 4px;
	height: 4px;
	border-radius: 2px
}
.sticky-details-item:first-child {
	padding-left: 0
}
.sticky-details-item:first-child:before {
	display: none
}
.sticky-details-link {
	color: #ffffff;
	margin-left: 0;
	opacity: 1
}
.sticky-details-link:hover {
	opacity: .6;
	color: #ffffff
}
.sticky-placeholder {
	display: none;
	width: 100%;
	height: 37px
}
.sticky-details-active {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	padding: 20px 0;
	z-index: 100;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15)
}
.sticky-details-active .sticky-details-item:before {
	background: #121212
}
.sticky-details-active .sticky-details-link {
	color: #121212
}
.sticky-details-active .sticky-details-link-active {
	font-size: 18px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100
}
.sticky-details-active .sticky-details-logo, .sticky-details-active .sticky-details-button {
	opacity: 1
}
.sticky-details-active+.sticky-placeholder {
	display: block
}
.index-section {
	position: relative;
	height: 800px;
	width: 100%
}
@media (min-width:620px) {
	.index-section {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
}
@media (max-width:619px) {
	.index-section .h1-bold {
		font-size: 6vh
	}
	.index-section .h2-bold {
		font-size: 4vh;
		letter-spacing: -0.1vh
	}
	.index-section .index-subheader, .index-section .paginated-paragraphs-paragraph-text {
		font-size: 2vh;
		margin-top: 1vh
	}
	.index-section .video-section-header {
		font-size: 2.5vh;
		margin-bottom: 1vh
	}
	.index-section .index-graph-header {
		margin-top: 4vh;
		font-size: 5vh
	}
}
.section-background-left, .section-background-right {
	background-repeat: no-repeat;
	background-size: 200%;
	padding-top: 60vw;
	padding-bottom: 10vw
}
@media (min-width:620px) {
	.section-background-left, .section-background-right {
		padding-top: 0;
		padding-bottom: 0;
		height: 100vh;
		padding-top: 150px;
		background-position: -30% 0;
		background-size: 50%
	}
}
.section-background-left.ws-black-section, .section-background-right.ws-black-section {
	background-position: -30% center
}
.section-background-right {
	background-position: 50% 0
}
@media (min-width:620px) {
	.section-background-right {
		background-position: 130% 0
	}
}
.video-section-header {
	color: #272c2f;
	font-size: 16px;
	  font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin-bottom: 15px;
	color: #B9BAB9
}
@media (min-width:1020px) {
	.video-section-header {
		font-size: 18px
	}
}
.video-section-image {
	min-height: 100px
}
.video-section-content .h1-bold, .video-section-content .h2-bold, .video-section-content .pricing-header, .video-section-content .pricing-header-fees, .video-section-content .index-graph-header, .video-section-content .index-graph-subheader, .index-section .h1-bold, .index-section .h2-bold, .index-section .pricing-header, .index-section .pricing-header-fees, .index-section .index-graph-header, .index-section .index-graph-subheader {
	color: #54575a
}
.video-section-content .index-subheader, .video-section-content .paginated-paragraphs-paragraph-text, .video-section-content .bubble-word, .video-section-content .pricing-features, .index-section .index-subheader, .index-section .paginated-paragraphs-paragraph-text, .index-section .bubble-word, .index-section .pricing-features {
	color: #7e8082
}
.index-subheader {
	min-width: 236px
}
@media (min-width:620px) {
	.index-subheader {
		margin-bottom: 30px
	}
}
.spacer {
	width: 100%
}
.video-section-video {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	max-width: 100%;
	max-height: 1080px
}
@media (min-width:620px) {
	.video-section-video {
		display: block
	}
}
.video-section-video-right {
	left: auto;
	right: 0
}
.video-section-content {
	position: absolute;
	bottom: 20px;
	z-index: 2;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
@media (min-width:620px) {
	.video-section-content {
		position: relative;
		top: 0;
		height: 80%;
		margin-top: 0
	}
}
@media (min-width:620px) {
	.fade1 {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 1s linear;
		transition: opacity 1s linear
	}
	.fadein {
		visibility: visible;
		opacity: 1
	}
}
.index-section__download {
	overflow: hidden
}
.index-phone {
	margin: 20px 0 40px -80px;
	min-width: 468px
}
@media (max-width:619px) {
	.index-phone {
		margin: 20px 0 40px -150px;
		min-width: 640px
	}
}
@media (min-width:620px) {
	.index-phone {
		margin: 20px 0 40px -160px
	}
}
@media (min-width:1020px) {
	.index-phone {
		position: absolute;
		right: -125px;
		z-index: 1;
		width: 180%;
		max-width: 900px;
		margin: 0
	}
}
.index-app-store-icons {
	position: relative;
	z-index: 2;
	margin: 25px 0 -40px
}
.index-app-store-icon {
	width: 30px;
	margin-right: 10px
}
.last-video-container {
	display: none
}
@media (min-width:620px) {
	.last-video-container {
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-transition: -webkit-transform 500ms ease-out;
		transition: -webkit-transform 500ms ease-out;
		transition: transform 500ms ease-out;
		transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	.last-video-container.section-active {
		-webkit-transform: translate(0, -160px);
		transform: translate(0, -160px)
	}
}
.last-video {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto
}
.hide {
	display: none !important
}
.left {
	float: left
}
.right {
	float: right
}
.inline {
	display: inline
}
.block {
	display: block
}
.inline-block {
	display: inline-block
}
.pointer {
	cursor: pointer
}
.center {
	text-align: center
}
.align-left {
	text-align: left
}
.align-right {
	text-align: right
}
.no-transition {
	-webkit-transition: none !important;
	transition: none !important
}
.relative {
	position: relative
}
.w100 {
	width: 100%
}
.nbsp {
	white-space: nowrap
}
.margin-center {
	margin: 0 auto
}
.flex-end {
	-ms-flex-item-align: end;
	align-self: flex-end
}
.flex-start {
	-ms-flex-item-align: start;
	align-self: flex-start
}
.topleft {
	position: absolute;
	top: 0;
	left: 0
}
@media (max-width:619px) {
	.hide-small {
		display: none
	}
}
@media (min-width:620px) {
	.hide-md {
		display: none
	}
}
@media (min-width:1020px) {
	.hide-lg {
		display: none
	}
}
@media (min-width:1440px) {
	.hide-xlg {
		display: none
	}
}
.block-md {
	display: none
}
@media (min-width:620px) {
	.block-md {
		display: block
	}
}
.inline-block-md {
	display: none
}
@media (min-width:620px) {
	.inline-block-md {
		display: inline-block
	}
}
.block-lg {
	display: none
}
@media (min-width:1020px) {
	.block-lg {
		display: block
	}
}
.block-xlg {
	display: none
}
@media (min-width:1440px) {
	.block-xlg {
		display: block
	}
}
.uppercase {
	text-transform: uppercase
}
.white {
	color: #ffffff
}
.black {
	color: #121212
}
.gray {
	color: #99908a
}
.no-underline {
	text-decoration: none
}
@media (min-width:620px) {
	.two-lines {
		min-height: 2em
	}
}
.container {
	width: 100%;
	max-width: 1490px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px
}
@media (min-width:1020px) {
	.container {
		max-width: 1684px;
		padding-left: 122px;
		padding-right: 122px
	}
}
.container-full {
	width: 100%
}
.container-full-dark {
	padding: 100px 0;
	color: #ffffff
}
.color-white {
	color: #ffffff
}
.color-supernova {
	color: #febb34
}
.color-ship-gray {
	color: #4d4d4d
}
.color-loblolly {
	color: #b9bab9
}
.color-my-sin {
	color: #ffb21a
}
.color-neptune {
	color: #7cb7b5
}
.color-flamingo {
	color: #ed5a3f
}
.bg-color-black {
	background-color: #121212
}
.bg-color-alabaster {
	background-color: #f9f8f6
}
.bg-color-neptune {
	background-color: #7cb7b5
}
.bg-color-gray {
	background-color: #99908a
}