@charset "UTF-8";
/* .navbar-inverse .navbar-nav>li>a:hover{
	    color: #403d3d;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}
.navbar-inverse .navbar-nav>li>a:focus{
	    color: #403d3d;
} */
.transparent-bg{
	    background: transparent;
}
button{
	outline:0 !important;
}
a{
	outline:0 !important;
}
.navbar-fixed-top{
	background-image:none;
}
.navbar-inverse{
	  background: transparent;
}
.container-fluid {
	
    background: #fefefe;
    padding-right: 6%;
    padding-left: 6%;
    }
.center{
	text-align:center;
}
.border-none{
	border:none;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.floatl{
	float:left;
}
.floatr{
	float:right;
}
botton{
	outline:0;
	cursor: pointer;
}
a{
	outline:0;
	cursor: pointer;
}
input{
	outline:0 !important;;
}

/*header css*/

.Buy-Now {
    font-size: 17px;
}
@media (max-width: 1000px)
{
.padding-navbar-collapse{
padding: 1.8% 0%;
}
	.navbar-brand img{
	    width: 120px;
	}
	.container {
    width: 100%;
}
.center-navbar a {
    padding: 15px 10px !important;
}
.Buy-Now {
    font-size: 16.6px !important;
    }
}
@media (min-width: 1350px)
{
	.Buy-Now{
  font-size: 20.6px !important;;
  }
.container {
    width: 90%;
}
.center-navbar{
	
    padding-left: 10%;
	width: 75%;
}
.center-navbar li{
	width:12.6%;
	text-align: center;
}
.center-navbar a{
  text-align: center !important;
}
}
.padding-navbar-collapse{
    padding: 1.3% 0%;
}
.navbar{
  font-size: 15.2px;
  text-align: left;
  color: #525352 !important;
}

.Buy-Now{
  font-weight: 900 !important;;
  color: #4ab0e3 ;
}
.bottom-footer{
	padding-top:40px;
}
.padding-top{
	    padding-top: 20px;
}
@media screen and (max-width: 767px) {
	.nav>li>a{
	 padding: 10px 10px;
	}
	.center-navbar a {
    padding: 10px 10px !important;
}
	.navbar-nav {
    margin: 7.5px 15px;
}
.navbar-inverse .navbar-toggle .icon-bar {
	
    background-color: #4ab0e3;
}	
.navbar-toggle .icon-bar {
    display: block;
    width: 19px;
    height: 3px;
   }
    .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 3px;
}
.navbar-toggle{
  margin-top: 20px;
  padding: 6px 10px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #efefef;
}
.navbar-collapse{
	background: rgb(242, 242, 242);
}
}

@media screen and (min-width: 768px) {
	
	
}
/*header ends */
/* footer */
footer{
  background-color: #d8d8d6;
}

footer ul{
	list-style-type:none;
}
footer a:hover{
  text-decoration:none;
  color:#000000;
}

footer a{
 
  font-weight:300;	
  text-decoration:none;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #808184;
}
 footer p {
 
  font-weight:300;	
  text-decoration:none;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #808184;
}
footer b{
    font-weight: 500;
}
.contact-footer p{
	line-height: 1 !important;
}
footer strong {
	text-decoration: none;
    font-size: 16px;
    line-height: 0;
    letter-spacing: 0.4px;
    text-align: left;
    color: #808184;
    font-weight: 500;
}
footer .container{
	    padding: 3% 8%;
	
}

/* footer ends */